/*****
PÁGINA
******/
* {
  font-family: Arial, sans-serif;
}
html #book-container #book-name td {
  padding: 10px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}
html #book-container #book-name td span {
  font-size: 18px;
}
html #book-container #comentario {
  padding-bottom: 20px;
  font-size: 13px;
  color: #333;
  line-height: 1.4em;
}
html #book-container #book-body .canal-vermais {
  text-align: center;
  background-color: #F05316;
}
html #book-container #book-body .canal-vermais td {
  padding: 0px 5px;
}
html #book-container #book-body .canal-vermais td a {
  font-size: 11px;
  text-decoration: none;
  color: #FFFFFF;
}
html #book-container #book-body .container-noticias {
  padding: 0 10px;
}
html #book-container #book-body .container-noticias .canal-titulo {
  font-size: 16px;
  font-weight: bold;
  padding-top: 0;
  color: #002E69;
}
html #book-container #book-body .container-noticias .canal-noticias {
  background-color: #f8f8f8;
  border: 1px solid #DDDDDD;
}
html #book-container #book-body .container-noticias .noticia {
  padding: 10px;
  vertical-align: top;
  color: #333;
}
html #book-container #book-body .container-noticias .noticia .noticia-fonte {
  line-height: 12px;
  font-size: 11px;
}
html #book-container #book-body .container-noticias .noticia .noticia-titulo {
  padding: 5px 0;
  line-height: 12px;
  font-size: 12px;
}
html #book-container #book-body .container-noticias .noticia .noticia-titulo a {
  font-size: 11px;
  line-height: 12px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
html #book-container #book-body .container-noticias .noticia .noticia-data {
  line-height: 12px;
  font-size: 11px;
}
