table(border='0', cellpadding='0', cellspacing='0', width='100%')
  tr
    td#noticias-abertas
      table(border='0', cellpadding='0', cellspacing='0', width='100%')
        tr
          td.noticias-abertas-divisao(height='30')
        each container, ContainerIndex in template.dados.Containers    
          tr
            td.container-canais
              table(id=`container-${container.Id}`, cellpadding='0', cellspacing='0', width='100%')
                each canais, canaisIndex in container.ArvoreDeOrdenacao    
                  tr
                    td
                      table(cellpadding='0', cellspacing='0', width='100%')
                        tr
                          td.canal-noticias
                            each noticia, nivelIndex in canais.items
                            div
                              +noticias(opcoes='{{template.dados.Template.Opcoes}}', noticia='{{canais.items}}') //-todo
