<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr ht-repeat="(ContainerIndex, container) in bookData.conteudo">
        <td class="container-canais">
            <table id="container-{{container.Id}}" cellpadding="0" cellspacing="0" width="100%">
                <tr ht-repeat="(canaisIndex, canais) in container.ArvoreDeOrdenacao">
                    <td>
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td class="canal-titulo">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <h2>
                                                    <span ht-if="container.Opcoes['Canais numerados']">{{canaisIndex + 1}}.</span>
                                                    <a name="canal-{{canais.IdContainerNodo}}" id="canal-{{canais.IdContainerNodo}}">{{canais.NomeNivel}}</a>
                                                </h2>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="canal-noticias">
                                    <div ht-repeat="(nivelIndex, noticia) in (noticias = canais.items)" class="primeiro-nivel">
                                        <div ht-include="../noticias/noticias-umaPorLinha.html"></div>
                                        <!-- <div ht-if="!(container.Opcoes['Modelo Conteúdo Aberto Texto'] || container.Opcoes['Modelo Conteúdo Aberto Mesclado'] || container.Opcoes['Uma noticia por linha'])" ht-include="../noticias/noticias-duasPorLinha.html"></div> -->
                                    </div>
                                </td>
                            </tr>
                            <tr ht-if="container.Opcoes['Leia mais']">
                                <td align="right">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="canal-noticias-leiamais">
                                                <a href="{{container.URLVejaMais}}" target="_blank">leia mais</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>