<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr ht-repeat="(ContainerIndex, container) in conteudo">
        <td class="container-canais">
            <table id="container-{{container.Id}}" cellpadding="0" cellspacing="0" width="100%">
                <tr ht-repeat="(canalIndex, canal) in container.ArvoreDeOrdenacao">
                    <td>
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td class="canal-titulo">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <h2>
                                                    <span ht-if="container.Opcoes['Canais numerados']">{{canalIndex + 1}}.</span>
                                                    <a name="canal-{{canal.IdContainerNodo}}" id="canal-{{canal.IdContainerNodo}}">{{canal.NomeNivel}}</a>
                                                </h2>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="canal-noticias">
                                    <div ht-repeat="(noticiaIndex, noticia) in noticias" class="primeiro-nivel">
                                        <div ht-if="(container.Opcoes['Modelo Conteúdo Aberto Texto'] || container.Opcoes['Modelo Conteúdo Aberto Mesclado'])">
                                            <!-- umaPorLinha template -->
                                        </div>
                                        <div ht-if="!(container.Opcoes['Modelo Conteúdo Aberto Texto'] || container.Opcoes['Modelo Conteúdo Aberto Mesclado'])">
                                            <table ht-if="{{(noticiaIndex / 2) % 0) === 0}}" cellpadding="0" cellspacing="0" width="100%">
                                                <tr class="noticia-repeat">
                                                    <td class="noticia-col1">
                                                        <div class="noticia-colunas">
                                                            {{ noticias[noticiaIndex] }}
                                                        </div>
                                                    </td>
                                                    <td class="noticia-col2">
                                                        <div class="noticia-colunas">
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            
                                            <table ht-if="((noticiaIndex / 2) % 0) !== 0" ht-class="{'repeat-vazio': true}">
                                                <tr>
                                                    <td></td>
                                                </tr>
                                            </table>
                                            
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr ht-if="container.Opcoes['Leia mais']">
                                <td align="right">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="canal-noticias-leiamais">
                                                <a href="{{container.URLVejaMais}}" target="_blank">leia mais</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>