span,
p,
div,
a,
strong,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: 'Trebuchet MS', Arial;
}
td {
  vertical-align: top;
}
#bodyTable {
  background: white;
}
#book-container {
  width: 700px;
}
#book-container #conteudo-noticias {
  padding-left: 20px;
}
#book-container .template-header {
  padding: 40px 0;
}
#book-container .template-header .header-img {
  text-align: center;
}
#book-container .template-botoes {
  padding: 20px 0;
}
#book-container .template-botoes td {
  border-bottom: 2px solid #00164A;
}
#book-container .template-botoes .botoes {
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  background-color: #00164A;
  border-left: 1px solid #FFF;
}
#book-container .template-botoes .botoes a {
  color: #FFF;
  text-decoration: none;
}
#book-container .template-botoes .data-book {
  font-size: 14px;
  vertical-align: middle;
}
#book-container .template-comentario {
  padding: 20px 0;
}
#book-container .template-contador {
  padding: 20px 0;
}
#book-container .template-contador table {
  background: #F8F8F8;
  border: 2px solid #EEE;
}
#book-container .template-contador table td {
  vertical-align: middle;
  padding: 10px 0;
}
#book-container .template-contador table td:nth-child(odd) {
  padding-left: 20px;
  padding-right: 10px;
}
#book-container .template-contador table td:last-child {
  padding-right: 20px;
}
#book-container .template-contador .cont-minutagem {
  font-size: 12px;
}
#book-container .container-canais {
  /*EDENRED*/
  /*ACMM*/
  /*TICKET*/
  /*TICKET-LOG*/
  /*REPOM*/
  /*SOLUÇÕES PRÉ PAGAS*/
  /*ACCENTIV*/
  /*ALIMENTACAO*/
  /*CULTURA*/
  /*TRANSPORTE*/
  /*FLEET*/
  /*CAR*/
  /*CARGO*/
}
#book-container .container-canais .canal-titulo table {
  width: 100%;
}
#book-container .container-canais .canal-titulo table h2 {
  margin: 25px 0 10px 0;
  color: #7b7b7b;
}
#book-container .container-canais .canal-titulo table h2 a {
  color: inherit;
  text-decoration: none;
  cursor: default;
}
#book-container .container-canais .canal-titulo-subnivel {
  margin: 0 0 10px 0;
  color: #7b7b7b;
  font-size: 16px;
}
#book-container .container-canais .canal-noticias {
  padding: 15px;
  background-color: #FFF;
  border: 3px solid #7b7b7b;
}
#book-container .container-canais .canal-noticias .img-capa {
  text-decoration: none;
}
#book-container .container-canais .canal-noticias .img-capa img {
  vertical-align: top;
}
#book-container .container-canais .canal-noticias .noticia-col2 {
  width: 50%;
  border-bottom: 1px dotted #CCC;
  border-left: 1px dotted #CCC;
  font-size: 12px;
  padding: 10px;
  border-collapse: collapse;
}
#book-container .container-canais .canal-noticias .noticia-col1 {
  border-bottom: 1px dotted #CCC;
  border-left: 0;
  font-size: 12px;
  padding: 10px;
  border-collapse: collapse;
}
#book-container .container-canais .canal-noticias .noticia-colunas .noticia-data {
  padding-bottom: 5px;
  color: #555555;
  font-size: 12px;
}
#book-container .container-canais .canal-noticias .noticia-colunas .noticia-data strong {
  color: #000;
}
#book-container .container-canais .canal-noticias .noticia-colunas .noticia-data span {
  color: #555555;
  font-size: 12px;
}
#book-container .container-canais .canal-noticias .noticia-colunas .noticia-midia {
  color: #555555;
  font-size: 12px;
  padding-bottom: 5px;
}
#book-container .container-canais .canal-noticias .noticia-colunas .noticia-titulo {
  padding-bottom: 5px;
}
#book-container .container-canais .canal-noticias .noticia-colunas .noticia-titulo a {
  font-size: 12px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
#book-container .container-canais .canal-noticias .noticia-colunas .noticia-fonte {
  padding-bottom: 5px;
  color: #555555;
  font-size: 12px;
}
#book-container .container-canais .canal-noticias .noticia-colunas .noticia-fonte span {
  color: #555555;
  font-size: 12px;
}
#book-container .container-canais .canal-noticias .noticia-colunas .noticia-fonte a {
  color: #555555;
  font-size: 12px;
}
#book-container .container-canais .canal-noticias .noticia-colunas .noticia-avaliacao {
  padding-bottom: 5px;
  color: #555555;
}
#book-container .container-canais .canal-noticias .noticia-colunas .noticia-avaliacao table {
  background-color: #FFF;
  border: 1px solid #EEE;
}
#book-container .container-canais .canal-noticias .noticia-colunas .noticia-avaliacao table .noticia-avaliacao-cor {
  width: 5px;
  border-right: 1px solid #EEE;
}
#book-container .container-canais .canal-noticias .noticia-colunas .noticia-avaliacao table td {
  padding: 1px 3px 1px 3px;
  color: #555555;
  font-size: 9px;
}
#book-container .container-canais .canal-noticias .noticia-colunas .noticia-avaliacao table td span {
  color: #555555;
  font-size: 9px;
}
#book-container .container-canais .canal-noticias .noticia-colunas .noticia-texto {
  padding-bottom: 5px;
  color: #8b8b8b;
  font-size: 12px;
}
#book-container .container-canais .canal-noticias .noticia-colunas .noticia-texto span,
#book-container .container-canais .canal-noticias .noticia-colunas .noticia-texto a {
  color: #8b8b8b;
  font-size: 12px;
}
#book-container .container-canais .canal-noticias-subnivel {
  border-left: 0;
}
#book-container .container-canais .canal-noticias-subnivel .canal-noticias-subnivel-container {
  padding-left: 0;
}
#book-container .container-canais .canal-noticias-leiamais {
  background-color: #7b7b7b;
  padding: 5px 8px;
  border: 3px solid #7b7b7b;
}
#book-container .container-canais .canal-noticias-leiamais a {
  color: #FFF;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
#book-container .container-canais .coluna-canal {
  width: 340px;
  padding-right: 20px;
}
#book-container .container-canais .divisao-container {
  border-top: 3px solid #00164A;
  padding: 10px 0;
}
#book-container .container-canais .divisao-container h1 {
  color: #00164A;
  margin: 0;
}
#book-container .container-canais #container-33500 .canal-titulo h2 {
  color: #11204c;
}
#book-container .container-canais #container-33500 .canal-titulo-subnivel {
  color: #11204c;
}
#book-container .container-canais #container-33500 .canal-noticias {
  background-color: #FFF;
  border: 3px solid #11204c;
}
#book-container .container-canais #container-33500 .canal-noticias-leiamais {
  background-color: #11204c;
  border: 3px solid #11204c;
}
#book-container .container-canais #container-33500 .canal-noticias-leiamais a {
  color: #FFF;
}
#book-container .container-canais #container-34475 .canal-titulo h2 {
  color: #0069b2;
}
#book-container .container-canais #container-34475 .canal-titulo-subnivel {
  color: #0069b2;
}
#book-container .container-canais #container-34475 .canal-noticias {
  background-color: #FFF;
  border: 3px solid #0069b2;
}
#book-container .container-canais #container-34475 .canal-noticias-leiamais {
  background-color: #0069b2;
  border: 3px solid #0069b2;
}
#book-container .container-canais #container-34475 .canal-noticias-leiamais a {
  color: #FFF;
}
#book-container .container-canais #container-33546 .canal-titulo h2 {
  color: #CA1F30;
}
#book-container .container-canais #container-33546 .canal-titulo-subnivel {
  color: #CA1F30;
}
#book-container .container-canais #container-33546 .canal-noticias {
  background-color: #FFF;
  border: 3px solid #CA1F30;
}
#book-container .container-canais #container-33546 .canal-noticias-leiamais {
  background-color: #CA1F30;
  border: 3px solid #CA1F30;
}
#book-container .container-canais #container-33546 .canal-noticias-leiamais a {
  color: #FFF;
}
#book-container .container-canais #container-34476 .canal-titulo h2 {
  color: #2DA056;
}
#book-container .container-canais #container-34476 .canal-titulo-subnivel {
  color: #2DA056;
}
#book-container .container-canais #container-34476 .canal-noticias {
  background-color: #FFF;
  border: 3px solid #2DA056;
}
#book-container .container-canais #container-34476 .canal-noticias-leiamais {
  background-color: #2DA056;
  border: 3px solid #2DA056;
}
#book-container .container-canais #container-34476 .canal-noticias-leiamais a {
  color: #FFF;
}
#book-container .container-canais #container-34480 .canal-titulo h2 {
  color: #F07B30;
}
#book-container .container-canais #container-34480 .canal-titulo-subnivel {
  color: #F07B30;
}
#book-container .container-canais #container-34480 .canal-noticias {
  background-color: #FFF;
  border: 3px solid #F07B30;
}
#book-container .container-canais #container-34480 .canal-noticias-leiamais {
  background-color: #F07B30;
  border: 3px solid #F07B30;
}
#book-container .container-canais #container-34480 .canal-noticias-leiamais a {
  color: #FFF;
}
#book-container .container-canais #container-35057 .canal-titulo h2 {
  color: #11204c;
}
#book-container .container-canais #container-35057 .canal-titulo-subnivel {
  color: #11204c;
}
#book-container .container-canais #container-35057 .canal-noticias {
  background-color: #FFF;
  border: 3px solid #11204c;
}
#book-container .container-canais #container-35057 .canal-noticias-leiamais {
  background-color: #11204c;
  border: 3px solid #11204c;
}
#book-container .container-canais #container-35057 .canal-noticias-leiamais a {
  color: #FFF;
}
#book-container .container-canais #container-34483 .canal-titulo h2 {
  color: #2C90CE;
}
#book-container .container-canais #container-34483 .canal-titulo-subnivel {
  color: #2C90CE;
}
#book-container .container-canais #container-34483 .canal-noticias {
  background-color: #FFF;
  border: 3px solid #2C90CE;
}
#book-container .container-canais #container-34483 .canal-noticias-leiamais {
  background-color: #2C90CE;
  border: 3px solid #2C90CE;
}
#book-container .container-canais #container-34483 .canal-noticias-leiamais a {
  color: #FFF;
}
#book-container .container-canais #container-33537 .canal-titulo h2 {
  color: #df433a;
}
#book-container .container-canais #container-33537 .canal-titulo-subnivel {
  color: #df433a;
}
#book-container .container-canais #container-33537 .canal-noticias {
  background-color: #FFF;
  border: 3px solid #df433a;
}
#book-container .container-canais #container-33537 .canal-noticias-leiamais {
  background-color: #df433a;
  border: 3px solid #df433a;
}
#book-container .container-canais #container-33537 .canal-noticias-leiamais a {
  color: #FFF;
}
#book-container .container-canais #container-34496 .canal-titulo h2 {
  color: #85c43d;
}
#book-container .container-canais #container-34496 .canal-titulo-subnivel {
  color: #85c43d;
}
#book-container .container-canais #container-34496 .canal-noticias {
  background-color: #FFF;
  border: 3px solid #85c43d;
}
#book-container .container-canais #container-34496 .canal-noticias-leiamais {
  background-color: #85c43d;
  border: 3px solid #85c43d;
}
#book-container .container-canais #container-34496 .canal-noticias-leiamais a {
  color: #FFF;
}
#book-container .container-canais #container-34499 .canal-titulo h2 {
  color: #14799c;
}
#book-container .container-canais #container-34499 .canal-titulo-subnivel {
  color: #14799c;
}
#book-container .container-canais #container-34499 .canal-noticias {
  background-color: #FFF;
  border: 3px solid #14799c;
}
#book-container .container-canais #container-34499 .canal-noticias-leiamais {
  background-color: #14799c;
  border: 3px solid #14799c;
}
#book-container .container-canais #container-34499 .canal-noticias-leiamais a {
  color: #FFF;
}
#book-container .container-canais #container-34502 .canal-titulo h2 {
  color: #bfd62f;
}
#book-container .container-canais #container-34502 .canal-titulo-subnivel {
  color: #bfd62f;
}
#book-container .container-canais #container-34502 .canal-noticias {
  background-color: #FFF;
  border: 3px solid #bfd62f;
}
#book-container .container-canais #container-34502 .canal-noticias-leiamais {
  background-color: #bfd62f;
  border: 3px solid #bfd62f;
}
#book-container .container-canais #container-34502 .canal-noticias-leiamais a {
  color: #FFF;
}
#book-container .container-canais #container-34506 .canal-titulo h2 {
  color: #0db149;
}
#book-container .container-canais #container-34506 .canal-titulo-subnivel {
  color: #0db149;
}
#book-container .container-canais #container-34506 .canal-noticias {
  background-color: #FFF;
  border: 3px solid #0db149;
}
#book-container .container-canais #container-34506 .canal-noticias-leiamais {
  background-color: #0db149;
  border: 3px solid #0db149;
}
#book-container .container-canais #container-34506 .canal-noticias-leiamais a {
  color: #FFF;
}
#book-container .container-canais #container-34510 .canal-titulo h2 {
  color: #004678;
}
#book-container .container-canais #container-34510 .canal-titulo-subnivel {
  color: #004678;
}
#book-container .container-canais #container-34510 .canal-noticias {
  background-color: #FFF;
  border: 3px solid #004678;
}
#book-container .container-canais #container-34510 .canal-noticias-leiamais {
  background-color: #004678;
  border: 3px solid #004678;
}
#book-container .container-canais #container-34510 .canal-noticias-leiamais a {
  color: #FFF;
}
#book-container .container-rodape {
  padding-bottom: 40px;
}
#book-container .container-rodape .rodape {
  height: 40px;
  border-bottom: 2px solid #00164A;
}
#book-container #capas .container-capa .canal-noticias {
  text-align: center;
}
#book-container #capas .container-capa .canal-noticias .img-capa img {
  width: 200px;
}
#book-container #barra-lateral .barra2 {
  width: 280px;
}
#book-container #barra-lateral .barra2 .canal-noticias .coluna1 {
  border-right: 0;
}
#book-container .barras-abaixo {
  padding-left: 10px;
  width: 33%;
}
#book-container .barras-abaixo:first-child {
  padding-left: 0;
}
#book-container #noticias-abertas {
  padding: 40px 0;
}
#book-container #noticias-abertas .noticias-abertas-divisao {
  border-top: 2px solid #00164A;
}
#book-container #noticias-abertas .container-canais .canal-noticias {
  padding: 0;
  background-color: #FFF;
  border: 0;
}
#book-container #noticias-abertas .container-canais .canal-noticias .noticia-col1 {
  border-bottom: 0;
  border-left: 0;
  padding: 10px 0;
}
#book-container #noticias-abertas .container-canais .canal-noticias .canal-noticias-subnivel-container {
  padding: 0;
}
#book-container #noticias-abertas .container-canais .canal-noticias .canal-noticias-subnivel {
  border: 0;
}
#book-container #noticias-abertas .container-canais .canal-noticias .noticia-titulo a {
  font-size: 16px;
  color: #000;
}
#book-container #noticias-abertas .container-canais .canal-noticias .noticia-fonte span,
#book-container #noticias-abertas .container-canais .canal-noticias .noticia-data span {
  color: #000;
}
#book-container #noticias-abertas .container-canais .canal-noticias .noticia-texto .conteudo-aberto-texto {
  font-size: 13px;
  line-height: 1.4em;
}
#book-container #noticias-abertas .container-canais .canal-noticias .noticia-texto .conteudo-aberto-imagem img {
  max-width: 100%;
}
#book-container #noticias-abertas .container-canais .canal-noticias .btn-voltar-topo {
  padding: 10px 0;
}
#book-container #noticias-abertas .container-canais .canal-noticias .btn-voltar-topo a {
  font-size: 12px;
  color: #000;
}
#book-container #noticias-abertas .container-canais .canal-noticias .fonte-restrita-painel {
  padding: 10px;
  border: 1px solid #DDD;
  background: #eee;
  font-size: 12px;
}
#book-container #noticias-abertas .container-canais .canal-noticias .fonte-restrita-link {
  color: #555;
  font-size: 12px;
}
