<table cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td class="template-header">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="header-img">
                        <img ht-if="!bookData.dados.Template.Opcoes['Template Boxnet']"
                             ht-src="{{bookData.config.urlPage}}/BookContents/Clientes/{{bookData.dados.Template.IdProdutoMvc}}/img/header.png{{bookData.config.versao}}"
                             alt=""/>
                        <img ht-if="bookData.dados.Template.Opcoes['Template Boxnet']"
                             ht-src="{{bookData.config.urlPage}}/BookContents/Clientes/0/img/header.png{{bookData.config.versao}}"
                             alt=""/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="template-botoes">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="data-book">
                        <div>
                            {{bookData.dados.DataCadastro | date: 'fullDate'}}
                        </div>
                    </td>
                    <td width="100" class="botoes">
                        <a ht-if="bookData.navegadoresAntigos"
                           href="{{bookData.config.urlPage}}/Visualizar/?b={{bookData.config.idBookVersao}}&p={{bookData.dados.IdProduto}}&pmvc={{bookData.dados.Template.IdProdutoMvc}}">
                            ver todas 
                        </a>
                        <a ht-if="!bookData.navegadoresAntigos"
                           href="{{bookData.config.urlVis}}/?idBook={{bookData.config.idBook}}&idProdutoMvc={{bookData.dados.Template.IdProdutoMvc}}&idNoticia=0">
                            ver todas
                        </a>
                    </td>
                    <td width="100" class="botoes">
                        <a href="{{bookData.config.urlPdf}}">
                            gerar pdf
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>