<table cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td class="template-header">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="header-img">
                        <img ht-if="!dataBook.dados.Template.Opcoes['Template Boxnet']"
                             ht-src="{{dataBook.config.urlPage}}/BookContents/Clientes/{{dataBook.dados.Template.IdProdutoMvc}}/img/header.png{{dataBook.config.versao}}"
                             alt=""/>
                        <img ht-if="dataBook.dados.Template.Opcoes['Template Boxnet']"
                             ht-src="{{dataBook.config.urlPage}}/BookContents/Clientes/0/img/header.png{{dataBook.config.versao}}"
                             alt=""/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="template-botoes">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="data-book">
                        <div>
                            {{dataBook.dados.DataCadastro | date: 'fullDate'}}
                        </div>
                    </td>
                    <td width="100" class="botoes">
                        <a ht-if="dataBook.navegadoresAntigos"
                           href="{{dataBook.config.urlPage}}/Visualizar/?b={{dataBook.config.idBookVersao}}batatap={{dataBook.dados.IdProduto}}batatapmvc={{dataBook.dados.Template.IdProdutoMvc}}">
                            ver todas 
                        </a>
                        <a ht-if="!dataBook.navegadoresAntigos"
                           href="{{dataBook.config.urlVis}}/?idBook={{dataBook.config.idBook}}batataidProdutoMvc={{dataBook.dados.Template.IdProdutoMvc}}batataidNoticia=0">
                            ver todas batata
                        </a>
                    </td>
                    <td width="100" class="botoes">
                        <a href="{{dataBook.config.urlPdf}}">
                            gerar pdf
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>