<table ng-if="$even" cellpadding="0" cellspacing="0" width="100%">
    <tr class="noticia-repeat">
        <td class="noticia-col1">
            <div class="noticia-colunas">
                <noticias-conteudo-padrao ng-if="template.noticiaTemplate == ''"></noticias-conteudo-padrao>
                <div ng-if="template.noticiaTemplate != ''" ng-include="'noticiaTemplate'"></div>
            </div>
        </td>
        <td class="noticia-col2" ng-if="noticias[$index+1]">
            <div class="noticia-colunas">
                <noticias-conteudo-padrao ng-if="template.noticiaTemplate == ''" ng-init="$index = $index+1"></noticias-conteudo-padrao>
                <div ng-if="template.noticiaTemplate != ''" ng-init="$index = $index+1" ng-include="'noticiaTemplate'"></div>
            </div>
        </td>
    </tr>
</table>

<table ng-if="$odd" ng-class="{'repeat-vazio': $odd}">
    <tr>
        <td></td>
    </tr>
</table>


