<table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="paddiht-bottom: 10px;">
            <table cellpadding="0" cellspacing="0" class="subnivel">
                <tr>
                    <td>
                        <h3 name="canal-{{canais.IdContainerNodo}}" class="canal-titulo-subnivel" ht-if="! mostrarAberto">
                            <span ht-if="container.Opcoes['Canais numerados']">{{indexNumbers}}</span>
                            {{noticia.NomeNivel}}
                        </h3>
                    </td>
                </tr>
            </table>

            <table class="canal-noticias-subnivel" cellpadding="0" cellspacing="0" width="100%" ht-repeat="(nivelIndex, noticia) in (noticias = noticia.items)">
                <tr>
                    <td class="canal-noticias-subnivel-container">
                        <div ht-if="! mostrarAberto">
                            <noticias opcoes="{{container.Opcoes}}" noticia="{{noticia}}"
                                      ht-init="indexNumbers = indexNumbers + ($index+1) + '.'"></noticias>
                        </div>
                        <div ht-if="mostrarAberto">
                            <noticias opcoes="{{template.dados.Template.Opcoes}}" noticia="{{noticia.ExistemFilhos}}"></noticias>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>