<table cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td ht-if="container.Opcoes['Icone de Midia']" width="45" align="left">
            <img ht-if="!dados.Template.Opcoes['Template Boxnet']"
                 src="{{config.urlPage}}/BookContents/Clientes/{{dados.Template.IdProdutoMvc}}/img/icone-midia-{{noticia.IdMidia}}.png"
                 alt=""/>
            <img ht-if="dados.Template.Opcoes['Template Boxnet']"
                 src="{{config.urlPage}}/BookContents/Clientes/0/img/icone-midia-{{noticia.IdMidia}}.png"
                 alt=""/>
        </td>
        <td>
            <table cellspacing="0" cellpadding="0" width="100%">
                <tr ht-if="container.Opcoes['Avaliação'] && noticia.Avaliacao != undefined">
                    <td class="noticia-avaliacao">
                        <table cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="noticia-avaliacao-cor" style="background: {{noticia.Avaliacao.CorAvaliacao}}">
                                </td>
                                <td><span>{{noticia.Avaliacao.Descricao | uppercase}}</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="noticia-data">
                        <span ht-if="!container.Opcoes['Icone de Midia']"><strong>{{noticia.Midia}}</strong> - </span>
                        <span>{{noticia.DataFonte | date: 'fullDate'}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="noticia-titulo">
                        <div ht-if="noticia.IdMidia == 3 || noticia.IdMidia == 4">
                            <span style="font-size: 11px;">
                                <strong ht-if="container.Opcoes['Minutagem'] && noticia.Duracao != undefined"> ({{noticia.Duracao | secToHrs}})</strong></span>
                        </div>

                        <div ht-if="container.Opcoes['Ver em Navegadores Antigos']">
                            <a class="titulo" target="_blank"
                               ht-if="!noticia.UsarLinkOriginal"
                               href="{{config.urlPage}}/Visualizar/?b={{config.idBookVersao}}&n={{noticia.IdNoticia}}&p={{dados.IdProduto}}&pmvc={{dados.Template.IdProdutoMvc}}">
                                {{noticia.TituloNoticia}}
                            </a>
                            <a class="titulo" target="_blank"
                               ht-if="noticia.UsarLinkOriginal"
                               href="{{noticia.UrlNoticia}}">
                                {{noticia.TituloNoticia}}
                            </a>
                        </div>
                        <div ht-if="!container.Opcoes['Ver em Navegadores Antigos']">
                            <a class="titulo" target="_blank"
                               ht-if="!noticia.UsarLinkOriginal"
                               href="{{config.urlVis}}/?idBook={{config.idBook}}&idNoticia={{noticia.IdNoticia}}&idProdutoMvc={{dados.Template.IdProdutoMvc}}">
                                {{noticia.TituloNoticia}}
                            </a>
                            <a class="titulo" target="_blank"
                               ht-if="noticia.UsarLinkOriginal"
                               href="{{noticia.UrlNoticia}}">
                                {{noticia.TituloNoticia}}
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="noticia-fonte">
                        <span class="fonte">{{noticia.Fonte | uppercase}}</span>
                        <a href="{{config.urlVis}}/?idNoticia={{noticia.IdNoticia}}&idProdutoMvc={{dados.Template.IdProdutoMvc}}&personalizado=similares"
                           target="_blank" ht-if="noticia.TemNoticiasSimilares" class="noticia-fonte">
                            <strong>[+]</strong>
                        </a>

                        <span><strong ht-if="container.Opcoes['Classificação'] && noticia.Abrangencia != undefined"> ({{noticia.Abrangencia.Descricao}})</strong></span>
                    </td>
                </tr>
                <tr ht-if="container.Opcoes['Noticias Relacionadas'] && noticia.TemNoticiasRelacionadas">
                    <td class="noticia-texto">
                        <div ht-repeat="relacionadas in noticia.items">
                            <a target="_blank" href="{{config.urlVis}}/?idBook={{config.idBook}}&idNoticia={{relacionadas.IdNoticia}}&idProdutoMvc={{dados.Template.IdProdutoMvc}}">
                                {{relacionadas.Fonte | uppercase}}</a>
                        </div>
                    </td>
                </tr>
                <tr ht-if="container.Opcoes['Sinopse']">
                    <td class="noticia-texto">
                        <span ht-if="noticia.Sinopse" ht-bind-html="noticia.Sinopse">
                        </span>
                        <span ht-if="container.Opcoes['Lead'] && (noticia.Sinopse === null || noticia.Sinopse === '')">
                            {{noticia.LeadNoticia}}
                        </span>
                    </td>
                </tr>
                <tr ht-if="container.Opcoes['Sinopse'] === undefined && container.Opcoes['Lead']">
                    <td class="noticia-texto">
                        <span>
                            {{noticia.LeadNoticia}}
                        </span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>